 *{font-family: Arial, Verdana, sans-serif;
color: #665544;
text-align: center;}
body {
width: 960px;
margin: 0 auto;}
nav{background-color: #efefef; 
	margin: 10px;
	padding:5px;
font-size: 150%;}
li {display:inline;
padding: 50px;}
section {
overflow: auto;
height: 100%;}
main {background-color: #FFFFFF;
	margin: 10px;
	padding:10px;
	font-size: 130%;}





article {
margin: 10px;
padding:10px;
height: 200px;
width:280px;
float:left;}

.mart {background-color: #efefef;
margin: 30px;
margin-bottom: 60px;
padding:10px;
height: 200px;
width: 370px;
float: left;}

.mart1{background-color: #efefef;
margin: 30px;
margin-bottom: 60px;
padding:10px;
height: 200px;
width: 370px;
float: right;}

.mart2 {background-color: #FFFFFF;
	margin: 2px;
	padding:3px;
	font-size: 118%;}


.mart3 {background-color: #efefef;
margin: 10px;
padding:10px;
height: 200px;
width: 900px;
font-size: 115%;}

.mart4 {margin: 10px;
padding:10px;
height: 200px;
width:280px;
float:left;
font-size: 118%;}

.mart5 {background-color: #FFFFFF;
	margin: 20px;
	padding:3px;
	font-size: 118%;}

.mart6 {background-color: #efefef;
margin: 10px;
padding:5px;
height: 150px;
width: 900px;
font-size: 115%;}

.mart7 {margin: 10px;
padding:10px;
height: 250px;
width:280px;
float:left;
font-size: 106%;}

.mart8 {margin: 10px;
padding:10px;
height: 380px;
width:280px;
float:left;
font-size: 106%;}

.mart9 {font-family: Times New Roman, serif;}

footer {background-color: #efefef;
margin: 10px;
padding:10px;}

.LinkedIn {font-size: 212%;}